<!-- Aquí se podría crear un custom component del form-field-->
<section class="full-screen full-center signin">
  <img
    class="signin__logo"
    src="assets/images/logo-2.png"
  />
  <mat-card>
    <form
      [formGroup]="signinForm"
      (submit)="onSubmit()"
      class="signin__form"
    >
      <mat-form-field
        class="signin__field"
        appearance="outline"
      >
        <mat-label> E-mail
        </mat-label>
        <input
          matInput
          formControlName="email"
          required
        >
        <mat-error *ngIf="signinForm.controls['email'].invalid">
          <span *ngIf="signinForm.hasError('required', 'email')">Este campo es obligatorio.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="signin__field"
        appearance="outline"
      >
        <mat-label> Password
        </mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
        >
        <mat-error *ngIf="signinForm.controls['password'].invalid">
          <span *ngIf="signinForm.hasError('required', 'password')">Este campo es obligatorio.</span>
        </mat-error>
      </mat-form-field>
      <button
        mat-button
        (click)="goToSignup()"
      >Registrarse</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
      >Log In</button>
    </form>
  </mat-card>
</section>
