@import "mixins";

.signup {
  @include flexbox-align-direction(center, center, column);

  &__title {
    padding: 2rem;
  }

  &__logo {
    width: 10rem;
  }

  &__form {
    @include flexbox-align-direction(center, center, column);

    button {
      margin-bottom: 1rem;
    }
  }
}
